body
{
	background:url(b.jpg);
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}

#p1{
	background:linear-gradient(orange,yellow,lightgreen,green) ;
}
#p2{
	background:linear-gradient(orange,yellow,lightgreen,green,blue,indigo) ;
}
